<h1>Enter registerd name here below</h1>

<form action="" method="post">

    <input type="text" name="regname" placeholder="registered name" required>
    <br><br>
   
    <input type="submit" value="Submit">

</form>